<div id="newFormAdd">
		<div class="d-flex">
			<div><span>Thêm mới </span></div>
			<div id="btnAddSave"><i></i><span>Lưu</span></div>
		</div>
		<input type="text" class="form-control" placeholder="Họ tên khách hàng">
		<input type="text" class="form-control" placeholder="Số điện thoại">
		<div class="d-flex">
			<div class="row form-group">
				<label for="date">Từ ngày</label>
				<div class="col-sm-12">
					<div class="d-flex">
						<input type="text" class="form-control" id="datepicker1" readonly>
						<span class="input-group" id="icon_datepicker1">
							<span class="input-group-text bg-white">
								<i class="fa fa-calendar"></i>
							</span>
						</span>
					</div>
				</div>
			</div>

			<div class="row form-group">
				<label for="date">Đến ngày</label>
				<div class="col-sm-12">
					<div class="d-flex">
						<input type="text" class="form-control" id="datepicker1" readonly>
						<span class="input-group" id="icon_datepicker1">
							<span class="input-group-text bg-white">
								<i class="fa fa-calendar"></i>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<input type="text" class="form-control" placeholder="Tiền trả trước">
		<div class="d-flex">
			<div><span>Phòng đặt</span></div>
			<div><i></i> Thêm phòng</div>
		</div>
		<div class="d-flex">
			<div><span>Chưa chỉ định phòng</span></div>
		</div>
</div>