<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <link rel="icon" href="./images/favicon.ico">
    <title>Hotel</title>
</head>


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* icon */
    #icon_thueTrongNgay::before {
        content: "\f079";
        color: black;
    }

    p {
        margin: 0;
    }

    .menu-his:hover {
        cursor: pointer;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
        ;
    }

    .unlist-Style {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .unlist-Style li {
            padding-left: 4px;
            padding-top: 6px;
            padding-bottom: 6px;
            cursor: pointer;
        }

            .unlist-Style li:hover {
                background-color: antiquewhite;
                padding-left: 8px;
                padding-bottom: 6px;
                padding-top: 6px;
                cursor: pointer;
            }

</style>

<body>
    <nav class="d-block" style="float: left;">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light shadow" style="width: 280px; height: 100vh;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <div style="width: 50px; height: 50px;">
                    <img src="./images/logo.png" style="object-fit: cover;" class="w-100" />
                </div>
                <span class="fs-4">S-Hotel</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link active" aria-current="page">
                        <i class="fas fa-home" style="width: 30px;"></i> Trang Chủ
                    </a>
                </li>
                <li>
                    <a href="./order.html" class="nav-link link-dark">
                        <i style="width: 30px;" class="far fa-calendar-alt"></i>
                        Đặt Phòng
                    </a>
                </li>
            </ul>
            <hr>
            <div class="">
                <p> Copyright © by Text</p>
            </div>
        </div>
    </nav>

    <div class="ms-5">
        <div class="grid gap-0 column-gap-3 p-2">
            <div class="p-3 g-col-3 rounded" style="box-shadow: 0px 1px 1px rgb(188, 188, 188);">
                <div>
                    <div class="w-100 row col-2">
                        <div class="col-4">
                            <div class="w-100" style="height: 67px;">
                                <img class="h-100" src="./images/iconThuePhong.jpg" style="object-fit: cover;" />
                            </div>
                        </div>
                        <div class="col p-0" style="text-align: right;">
                            <p>Thuê trong ngày</p>
                            <p style="font-size: 18px; font-weight: 600;"><span>0</span> lượt</p>
                        </div>
                    </div>
                    <hr style="width: 100%" />
                    <div>
                        <p><i _ngcontent-c5="" class="fas fa-sync text-muted"></i> Cập nhật</p>
                    </div>
                </div>
            </div>

            <div class="p-3 g-col-3 rounded" style="box-shadow: 0px 1px 1px rgb(188, 188, 188);">
                <div>
                    <div class="w-100 row col-2">
                        <div class="col-4">
                            <div class="w-100" style="height: 67px;">
                                <img class="h-100" src="./images/iconPhongCho.jpg" style="object-fit: cover;" />
                            </div>
                        </div>
                        <div class="col p-0" style="text-align: right;">
                            <p>Thuê trong ngày</p>
                            <p style="font-size: 18px; font-weight: 600;"><span>0</span> lượt</p>
                        </div>
                    </div>
                    <hr style="width: 100%" />
                    <div>
                        <p><i _ngcontent-c5="" class="fas fa-key text-muted"></i> Thuê phòng</p>
                    </div>
                </div>
            </div>

            <div class="p-3 g-col-3 rounded" style="box-shadow: 0px 1px 1px rgb(188, 188, 188);">
                <div>
                    <div class="w-100 row col-2">
                        <div class="col-4">
                            <div class="w-100" style="height: 67px;">
                                <img class="h-100" src="./images/iconPhongDangThue.jpg" style="object-fit: cover;" />
                            </div>
                        </div>
                        <div class="col p-0" style="text-align: right;">
                            <p>Thuê trong ngày</p>
                            <p style="font-size: 18px; font-weight: 600;"><span>0</span> lượt</p>
                        </div>
                    </div>
                    <hr style="width: 100%" />
                    <div>
                        <p><i _ngcontent-c5="" class="fas fa-reply text-muted"></i> Thêm menu & trả phòng</p>
                    </div>
                </div>
            </div>

            <div class="p-3 g-col-3 rounded" style="box-shadow: 0px 1px 1px rgb(188, 188, 188);">
                <div>
                    <div class="w-100 row col-2">
                        <div class="col-4">
                            <div class="w-100" style="height: 67px;">
                                <img class="h-100" src="./images/iconPhongCanDon.jpg" style="object-fit: cover;" />
                            </div>
                        </div>
                        <div class="col p-0" style="text-align: right;">
                            <p>Thuê trong ngày</p>
                            <p style="font-size: 18px; font-weight: 600;"><span>0</span> lượt</p>
                        </div>
                    </div>
                    <hr style="width: 100%" />
                    <div>
                        <p><i _ngcontent-c5="" class="fas fa-broom text-muted"></i> Dọn phòng</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-2">
            <div class="col col-8">
                <canvas id="myChart" width="100%" height="70"></canvas>
                <script>
                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: ['Room 1', 'Room 2', 'Room 3', 'Room 4', 'Room 5', 'Room 6'],
                            datasets: [{
                                label: 'Lượt Thuê Phòng',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            },
                            plugins: {
                                title: {
                                    display: true,
                                    position: 'left',
                                    text: 'LƯỢT  THUÊ  PHÒNG',
                                    font: {
                                        family: "Arial",
                                        size: 18
                                    }
                                }
                            }
                        }
                    });
                </script>
            </div>
            <div class="col col-4">
                <div class="border p-2" style="height:510px; position: relative; top: 30px;">
                    <div class="his-header">
                        <div class="row row-cols-2">
                            <div class="col">
                                <p class="p-0 m-0" style="color:green; position: relative; top: 4px; left: 5px;">Nhật Ký Hệ Thống</p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <i class="fas fa-ellipsis-v menu-his" style="font-size: 20px; position: relative; top: 6px; right: 15px;"></i>
                                <div id="menu-box-his" class="hide border" style=" position: absolute; top:40px; z-index: 999; background-color: rgb(255, 255, 255); width: 300px; height: 450px;">
                                    <ul class="unlist-Style">
                                        <li>item 1</li>
                                        <li>item 1</li>
                                        <li>item 1</li>
                                        <li>item 1</li>
                                        <li>item 1</li>
                                        <li>item 1</li>
                                        <li>item 1</li>
                                        <li>item 1</li>
                                        <li>item 1</li>
                                        <li>item 1</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="pt-0" />
                    <div class="his-body ms-1">
                        <!-- noi dung nhat ky -->
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    document.querySelector(".menu-his").addEventListener("click", () => {
        const menu = document.getElementById("menu-box-his");
        if (menu.classList.contains("hide")) {
            menu.classList.remove("hide");
            menu.classList.add("show");
        }
        else {
            menu.classList.add("hide");
            menu.classList.remove("show");
        }

    })
</script>


</html>