@using HotelManagement.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "_EmptyLayout";
}

<div class="d-flex justify-content-center align-items-center vh-100 vw-100 bg-dark">
    <div class="card w-100" style="max-width: 360px; background: white">
        <div class="card-body">
            <h2 class="text-center mb-4">Đăng nhập</h2>
            <form asp-action="Auth" method="post">
                <div class="form-group">
                    <label for="username" asp-for="Username">Tên đăng nhập</label>
                    <input asp-for="Username" class="form-control" id="username">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="password" asp-for="Password">Mật khẩu</label>
                    <input asp-for="Password" type="password" class="form-control" id="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3">Đăng nhập</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    @if (TempData["Error"] is not null)
    {
        var error = TempData["Error"]?.ToString();
        <script>
            const error = "@error";
            showAlert(error,  "danger");
        </script>
    }
}