
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>

<div class="d-flex fex-row py-4">
    <div class="border-end">
        <div class="d-flex flex-row mb-3">
            <div class="d-flex flex-row align-items-center me-2">
                <i class="fa-regular fa-arrow-up me-2"></i>
                <i class="fa-regular fa-arrow-down me-2"></i>
                <select class="form-select" aria-label="Default select example">
                    <option selected value="name">Sắp xếp theo tên</option>
                </select>
            </div>
            
            <div class="d-flex flex-row align-items-center">
                <i class="fa-solid fa-magnifying-glass me-2"></i>
                <i class="fa-solid fa-x me-2"></i>
                <input type="email" class="form-control mb-1 ng-valid ng-dirty ng-touched" placeholder="name@example.com">
            </div>
        </div>
        
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="watting-tab" data-bs-toggle="tab" data-bs-target="#watting" type="button" role="tab" aria-controls="watting" aria-selected="true"><i class="fa-solid fa-door-open me-2"></i> Phòng chờ</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="rented-tab" data-bs-toggle="tab" data-bs-target="#rented" type="button" role="tab" aria-controls="rented" aria-selected="false"><i class="fa-solid fa-door-closed me-2"></i> Phòng đang thuê</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="clear-tab" data-bs-toggle="tab" data-bs-target="#clear" type="button" role="tab" aria-controls="clear" aria-selected="false"><i class="fa-sharp fa-solid fa-broom-wide me-2"></i> Phòng cần dọn</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false"><i class="fa-solid fa-clock-rotate-left me-2"></i> Lịch sữ</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="watting" role="tabpanel" aria-labelledby="watting-tab">
                <div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWatting1" aria-expanded="true" aria-controls="collapseWatting1">
                                    Phòng đơn
                                </button>
                            </h5>
                        </div>

                        <div id="collapseWatting1" class="collapse show">
                            <div class="card-body">
                                <div class="d-flex flex-wrap room-list-panel ng-star-inserted">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <p>Phòng vip</p>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownWatting1" data-bs-toggle="dropdown" aria-expanded="false">
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownWatting1">
                                                    <li><button class="dropdown-item" type="button"><i class="fa-solid fa-key"></i> Nhận phòng</button></li>
                                                    <li><button class="dropdown-item" type="button"><i class="fa-regular fa-calendar-week"></i> Nhận phòng đặt trước</button></li>
                                                    <li><button class="dropdown-item" type="button"><i class="fa-regular fa-tag"></i> Yêu cầu dọn phòng</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-person-walking me-2"></i>
                                                Chưa sử dụng
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-x me-2"></i>
                                                Chưa dọn phòng
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="rented" role="tabpanel" aria-labelledby="rented-tab">
                <div>
                    <div class="card">
                        <div class="card-header" id="headingRentedOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRented1" aria-expanded="true" aria-controls="collapseRented1">
                                    Phòng đơn
                                </button>
                            </h5>
                        </div>

                        <div id="collapseRented1" class="collapse show">
                            <div class="card-body">
                                <div class="d-flex flex-wrap room-list-panel ng-star-inserted">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <p>Phòng vip</p>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownRented1" data-bs-toggle="dropdown" aria-expanded="false">
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownRented1">
                                                    <li><button class="dropdown-item" idroom="762723612" id="viewEdit" type="button"><i class="fa-solid fa-pen"></i> Chỉnh sửa</button></li>
                                                    <li><button class="dropdown-item" type="button"><i class="fa-solid fa-burger-soda"></i> Thêm menu</button></li>
                                                    <li><button class="dropdown-item" type="button"><i class="fa-solid fa-user-check"></i> Trả phòng</button></li>
                                                    <li><button class="dropdown-item" type="button"><i class="fa-solid fa-rotate"></i> Đổi phòng</button></li>
                                                    <li><button class="dropdown-item" type="button"><i class="fa-regular fa-tag"></i> Yêu cầu dọn phòng</button></li>
                                                    <li><button class="dropdown-item" type="button"><i class="fa-solid fa-trash"></i> Xóa</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div>
                                                <i class="fa-solid fa-clock"></i>
                                                37 Ngày 7 Giờ
                                            </div>
                                            <div class="d-flex">
                                                <div class="me-3">
                                                    <div class="d-flex align-items-center">
                                                        <i class="fa-solid fa-burger-soda me-2"></i>
                                                        0
                                                    </div>
                                                    <div class="d-flex">
                                                        <i class="fa-regular fa-credit-card me-2"></i>
                                                        0
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="d-flex align-items-center">
                                                        <i class="fa-solid fa-bed me-2"></i>
                                                        0
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <i class="fa-solid fa-dollar-sign me-2"></i>
                                                        0
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="clear" role="tabpanel" aria-labelledby="clear-tab">
                <div>
                    <div class="card">
                        <div class="card-header" id="headingClearOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClear1" aria-expanded="true" aria-controls="collapseClear1">
                                    Phòng đơn
                                </button>
                            </h5>
                        </div>

                        <div id="collapseClear1" class="collapse show">
                            <div class="card-body">
                                <div class="d-flex flex-wrap room-list-panel ng-star-inserted">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <p>Phòng vip</p>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownClear1" data-bs-toggle="dropdown" aria-expanded="false">
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownClear1">
                                                    <li><button class="dropdown-item" type="button"><i class="fa-regular fa-check"></i> Đã dọn</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-regular fa-hourglass me-2"></i>
                                                Chưa sử dụng
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-clock me-2"></i>
                                                3 ngày trước
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                <div>
                    <div class="card">
                        <div class="card-header" id="headingHistoryOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHistory" aria-expanded="true" aria-controls="collapseHistory">
                                    Lịch sử
                                </button>
                            </h5>
                        </div>

                        <div id="collapseHistory" class="collapse show">
                            <div class="card-body">
                                <div class="d-flex flex-wrap room-list-panel ng-star-inserted">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <p>Phòng vip</p>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownHistory1" data-bs-toggle="dropdown" aria-expanded="false">
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownHistory1">
                                                    <li><button class="dropdown-item" type="button"><i class="fa-solid fa-pen"></i> Chỉnh sửa</button></li>
                                                    <li><button class="dropdown-item" type="button"><i class="fa-solid fa-trash"></i> Xóa</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-user-check me-2"></i>
                                                3 ngày trước
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-dollar-sign me-2"></i>
                                                80.000
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rightLayout" class="p-3"></div>
</div>

<script>
    $(document).ready(function () {
        let editBtn = $("#viewEdit");
        var rightLayout = $("#rightLayout");
        editBtn.click(function () {
            $.ajax({
                url: '/rent/Edit',
                type: 'GET',
                data: { id: editBtn.attr("idroom") },
                success: function (result) {
                    rightLayout.html(result);
                }
            })
        })
    })
</script>
